.customers {
  display: flex;
}
.customers__item {
  width: 170px;
  height: 92px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.customers__link {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
  &:hover,
  &:focus {
    border-color: var(--hover-focus-color-others);
  }
}
.customers__icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: var(--hover-focus-color-others);
}
