.head {
  // MOBILE
  padding-top: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
  @include flex(flex, space-between, center);

  // TABLET
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 20px;
  }

  // LAPTOP
  @media screen and(min-width:1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.head__logo {
  margin-right: 93px;
}
