.head {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
  @include flex(flex, space-between, center);
}

// .head__logo {
//   margin-right: 93px;
// }
// .head__contacts {
//   margin-left: auto;
// }
// .menu__btn-open {
//   background-color: transparent;
// }
