.contacts {
  @media screen and(max-width:768px) {
    display: none;
  }

  // LAPTOP
  @media screen and(min-width:1200px) {
    @include flex(flex, center, center);
  }
  margin-left: auto;
}
.contacts__item {
  // TABLET
  font-weight: 500;
  @include font(12px, 1.17em, 0.02em);
  &:not(::last-child) {
    margin-bottom: 10px;
  }

  // LAPTOP
  @media screen and(min-width:1200px) {
    @include font(14px, 1.14em, 0.02em);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.contacts__link {
  transition: fill var(--transition-duration) var(--transition-timing-function);
  color: var(--contacts-color-dark);
  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
}
.contacts__icon {
  // TABLET
  transition: fill var(--transition-duration) var(--transition-timing-function);
  fill: var(--contacts-color-dark);
  margin-right: 8px;

  //  LAPTOP
  @media screen and(min-width:1200px) {
    margin-right: 10px;
  }
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--hover-focus-color-others);
}
