.logo {
  //MOBILE
  @include font(24px, 1.17em, 0.03em);
  display: block;
  font-family: "Raleway", sans-serif;
  color: var(--akcent-color);

  // LAPTOP
  @media screen and(min-width:1200px) {
    @include font(26px, 1.19em, 0.03em);
  }
}
.logo__word {
  display: inline-block;
}

.logo__word--dark {
  color: var(--logo-word-dark);
}
.logo__word--light {
  color: var(--logo-word-light);
}
