.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-x: scroll;
  @media screen and(min-width:768px) {
    display: none;
  }
}
.menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.menu__btn {
  background-color: transparent;
  &:hover,
  &:focus {
    fill: var(--hover-focus-color-others);
  }
}
.menu__btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__btn--open {
  @media screen and(min-width:768px) {
    display: none;
  }
}

.menu__nav-item {
  @include font(8vw, 1.18em, 0.02em);
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  @media screen and(min-width:480px) {
    font-size: 40px;
  }
}
.menu__nav-link {
  color: var(--title-color-dark);
  &:hover,
  &:hover {
    color: var(--akcent-color);
  }
}
.menu__nav-link--active {
  color: var(--akcent-color);
}
.menu__contact-list {
  margin-bottom: 64px;
}
.menu__contact-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu__contact-link--tel {
  font-weight: 500;
  @include font(8vw, 1.18em, 0.02em);
  color: var(--akcent-color);
  &:focus,
  &:hover {
    color: var(--hover-focus-color-importmant-button);
  }
  @media screen and(min-width:480px) {
    font-size: 34px;
  }
}
.menu__contact-link--mail {
  font-weight: 500;
  @include font(8vw, 1.17em, 0.02em);
  color: var(--contacts-color-dark);
  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
  @media screen and(min-width:480px) {
    font-size: 24px;
  }
}
.menu__list-social {
  display: flex;
  flex-wrap: wrap;
}
.menu__item-social {
  margin-bottom: 5px;
  font-weight: 500;
  @include font(18px, 1.22em, 0.02em);
  &:not(:first-child) {
    padding-left: 10px;
  }
  &:not(:last-child) {
    border-right: 1px solid var(--contacts-color-dark);
    padding-right: 10px;
  }
}
.menu__social-link {
  color: var(--akcent-color);

  &:hover,
  &:focus {
    color: var(--hover-focus-color-importmant-button);
  }
}
