.menu {
  max-width: 480px;
  max-height: 796px;
  background-color: sandybrown;
}
.menu__btn {
  background-color: #ffffff;
  align-items: center;
  &:hover,
  &:focus {
    fill: var(--akcent-color);
  }
}
.menu__social-link {
  @include font(18px, 1.22em, 0.02em);
  color: var(--akcent-color);
  font-weight: 500;
  padding: 0px 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--hover-focus-color-importmant-button);
  }
}
