@mixin font($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin flex($df, $jc, $ai) {
  display: $df;
  justify-content: $jc;
  align-items: $ai;
}
@mixin color($bg, $color, $fill) {
  background-color: $bg;
  color: $color;
  fill: $fill;
}
@mixin net-first-part($f, $fw, $mt, $ml) {
  display: $f;
  flex-wrap: $fw;
  margin-top: $mt;
  margin-left: $ml;
}
@mixin net-second-part($mt, $ml, $fb) {
  margin-top: $mt;
  margin-left: $ml;
  flex-basis: $fb;
}
